<!DOCTYPE html>
<html>
  <head>
    <title>Project</title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
    <link href="https://fonts.googleapis.com/css?family=Do+Hyeon|Staatliches" rel="stylesheet">
  </head>
  <body>
    <script>
      setTimeout("location.reload()",5000);
      </script>
    <header>
      <center>
      <h1>Real-Time Search Keyword</h1>
      </center>
    </header>
    <center>
    <h3>5초마다 새로고침됩니다.</h3>
    </center>
    <div class="naver">
      <center>
      <h2 class="naver-title"><a href="http://www.naver.com" class="na">Naver</a></h2>
      <ul>
        <li>1. <a href="https://search.naver.com/search.naver?sm=top_hty&fbm=1&ie=utf8&query=<%= n1 %>"><%= n1 %></a></li>
        <li>2. <a href="https://search.naver.com/search.naver?sm=top_hty&fbm=1&ie=utf8&query=<%= n2 %>"><%= n2 %></a></li>
        <li>3. <a href="https://search.naver.com/search.naver?sm=top_hty&fbm=1&ie=utf8&query=<%= n3 %>"><%= n3 %></a></li>
        <li>4. <a href="https://search.naver.com/search.naver?sm=top_hty&fbm=1&ie=utf8&query=<%= n4 %>"><%= n4 %></a></li>
        <li>5. <a href="https://search.naver.com/search.naver?sm=top_hty&fbm=1&ie=utf8&query=<%= n5 %>"><%= n5 %></a></li>
        <li>6. <a href="https://search.naver.com/search.naver?sm=top_hty&fbm=1&ie=utf8&query=<%= n6 %>"><%= n6 %></a></li>
        <li>7. <a href="https://search.naver.com/search.naver?sm=top_hty&fbm=1&ie=utf8&query=<%= n7 %>"><%= n7 %></a></li>
        <li>8. <a href="https://search.naver.com/search.naver?sm=top_hty&fbm=1&ie=utf8&query=<%= n8 %>"><%= n8 %></a></li>
        <li>9. <a href="https://search.naver.com/search.naver?sm=top_hty&fbm=1&ie=utf8&query=<%= n9 %>"><%= n9 %></a></li>
        <li>10. <a href="https://search.naver.com/search.naver?sm=top_hty&fbm=1&ie=utf8&query=<%= n10 %>"><%= n10 %></a></li>
      </ul>
      </center>
      </div>
      <div class="daum">
        <center>
      <h2 class="daum-title"><a href="http://www.daum.net" class="da">Daum</a></h2>
      <ul>
          <li>1. <a href="https://search.daum.net/search?w=tot&DA=YZR&t__nil_searchbox=btn&sug=&sugo=&q=<%= d1 %>"><%= d1 %></a></li>
          <li>2. <a href="https://search.daum.net/search?w=tot&DA=YZR&t__nil_searchbox=btn&sug=&sugo=&q=<%= d2 %>"><%= d2 %></a></li>
          <li>3. <a href="https://search.daum.net/search?w=tot&DA=YZR&t__nil_searchbox=btn&sug=&sugo=&q=<%= d3 %>"><%= d3 %></a></li>
          <li>4. <a href="https://search.daum.net/search?w=tot&DA=YZR&t__nil_searchbox=btn&sug=&sugo=&q=<%= d4 %>"><%= d4 %></a></li>
          <li>5. <a href="https://search.daum.net/search?w=tot&DA=YZR&t__nil_searchbox=btn&sug=&sugo=&q=<%= d5 %>"><%= d5 %></a></li>
          <li>6. <a href="https://search.daum.net/search?w=tot&DA=YZR&t__nil_searchbox=btn&sug=&sugo=&q=<%= d6 %>"><%= d6 %></a></li>
          <li>7. <a href="https://search.daum.net/search?w=tot&DA=YZR&t__nil_searchbox=btn&sug=&sugo=&q=<%= d7 %>"><%= d7 %></a></li>
          <li>8. <a href="https://search.daum.net/search?w=tot&DA=YZR&t__nil_searchbox=btn&sug=&sugo=&q=<%= d8 %>"><%= d8 %></a></li>
          <li>9. <a href="https://search.daum.net/search?w=tot&DA=YZR&t__nil_searchbox=btn&sug=&sugo=&q=<%= d9 %>"><%= d9 %></a></li>
          <li>10. <a href="https://search.daum.net/search?w=tot&DA=YZR&t__nil_searchbox=btn&sug=&sugo=&q=<%= d10 %>"><%= d10 %></a></li>
      </ul>
      </center>
      </div>
    <footer>
      <center>
      <h4>Copyright ⓒ by Cho_Jja7</h4>
      </center>
    </footer>
  </body>
</html>
